[user]
  email = 'emeyer@8thlight.com'
  name = 'Eric Meyer'

[alias]

  st = status
  ci = commit
  co = checkout
  br = branch
  me = merge

[push]
  default = tracking

[color]
	branch = auto
	diff = auto
	status = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow
	frag = magenta
	old = red bold
	new = green bold
[color "status"]
	added = green
	changed = yellow
	untracked = cyan
	
[branch]
	autosetuprebase = remote
	